<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Image Checker</title>
    <script type="text/javascript" src="..\References\ObjectIndex.js"></script>
    <script type="text/javascript" src="..\References\StyleGuide.js"></script>
    <script type="text/javascript" src="..\scripts\CardIndex.js"></script>
    <link rel="stylesheet" type="text/css" href="..\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="..\css\Card.css">

</head>
<body>
    <!--Should just try div's instead of buttons -->
    <div id="nav" class="navbar">
        <div class="controlbtns">
            <button onclick="location.href='./main.html'">Main Page</button>
            <button onclick="location.href='./index.html'">View Menu</button>
        </div>
        <div id="navbarHeader">
            <p id="header">Card Viewer</p>
        </div>
        <div class="historybtns">
        </div>
    </div>

    <div class="main-container">
        <div id="node-container"></div>
    </div>
</body>