<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Image Checker History</title>
    <script type="text/javascript" src="..\scripts\historyloader.js"></script>
    <link rel="stylesheet" type="text/css" href="..\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="..\css\history.css">
</head>
<body>
    <!--Should just try div's instead of buttons -->
    <div id="nav" class="navbar">
        <div class="controlbtns">
            <button onclick="location.href='./MainPage.html'">Main Page</button>
            <button onclick="location.href='./ViewMenu.html'">View Menu</button>
        </div>
        <div id="navbarHeader">
            <p id="header">History</p>
        </div>
        <div class="historybtns">
        </div>
    </div>
    <div class="main-container">
        <h3 id="memory-message"></h3>
        <div id="nodes" class="node-container"></div>
    </div>
</body>