<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Legacy View</title>
    <script type="text/javascript" src="..\References\ObjectIndex.js"></script>
    <script type="text/javascript" src="..\scripts\gridloader.js"></script>
    <link rel="stylesheet" type="text/css" href="..\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="..\css\gridView.css">

</head>
<body>
    <div id="nav" class="navbar">
        <div class="controlbtns">
            <button onclick="location.href='./main.html'">Main Page</button>
            <button onclick="location.href='./index.html'">View Menu</button>
        </div>
        <div id="navbarHeader">
            <p id="header">Legacy View</p>
        </div>
        <div class="historybtns"></div>
    </div>
    <div class="main-container">
        <div class="table-container">
            <table id="image-table">
                <tr><td>Sku Number</td>
                    <td>Sku Name</td>
                    <td>Primary Image</td>
                    <td>Secondary Image 1</td>
                    <td>Secondary Image 2</td>
                    <td>Secondary Image 3</td>
                    <td>Secondary Image 4</td>
                    <td>Secondary Image 5</td>
                    <td>Secondary Image 6</td>
                    <td>Secondary Image 7</td>
                    <td>Secondary Image 8</td>
                </tr>
            </table>
        </div>

    </div>
</body>