<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="..\References\StyleGuide.js"></script>
    <script type="text/javascript" src="..\scripts\SGViewer.js"></script>
    <link rel="stylesheet" type="text/css" href="..\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="..\css\SGViewer.css">
</head>
<body>
    <div id="nav" class="navbar">
        <div class="controlbtns">
            <button onclick="location.href='./MainPage.html'">Main Page</button>
            <button onclick="location.href='./ViewMenu.html'">Views Menu</button>
        </div>
        <div id="navbarHeader">
            <p id="header">Style Guide Viewer</p>
        </div>
        <div class="historybtns">
        </div>
    </div>
    <div class="container">
        <div id="update-header"></div>
        <div id="table" class="table-container"></div>
    </div>
</body>